.hero {
    padding: 0.6rem 2rem;
    background-color: red;
    border-radius: 0.3125rem;
    width: fit-content;
    align-self: center;
}

.workLink {
    padding: 0.6rem 2rem;
    border-bottom: 1px solid red;
}

.workLink:hover, .workLink:focus {
    background-color: red;
    transition: all 0.35s cubic-bezier(1, 0.68, 0.16, 0.9);
}

@media (max-width: 399px) {
    .workLink {
        font-size: 0.8rem;
    }
}

@media (min-width: 400px) {
    .hero {
        align-self: flex-start;
    }
}
@media (min-width: 600px) {
    .default {
        font-size: 75%;
    }
}

@media (min-width: 900px) {
    .default {
        font-size: 80%;
    }
}