.navbar {
    padding: 1rem 1rem;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    max-width: 82.5rem;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 2;
}

@media (max-width: 399px) {
    .navbar {
        display: none;
        max-width: 80vw;
        border-radius: 0 0.3125rem 0.3125rem 0;
    }

    .navbarOpened {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.306);
        background-color: black;
        gap: 3rem;
        font-size: 145%;
        z-index: 3;
        /* transition: all 2s cubic-bezier(1, 0.68, 0.16, 0.9); */
        /* -webkit-transition: all 1s ease-in-out;
        transition: all 3s ease-in-out;
        transition: 3s; */
    }
}

@media (min-width: 400px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        font-size: 125%;
        padding-right: 2rem;
    }
}

@media (min-width: 600px) {
    .navbar {
        font-size: 145%;
    }
}

@media (min-width: 900px) {
    .navbar {
        gap: 2rem;
        padding-right: 3.5rem;
        font-size: 160%;
    }
}