.navbar {
    padding: 1rem 1rem;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 2;
}

@media (max-width: 399px) {
    .navbar {
        display: none;
        max-width: 80vw;
        border-radius: 0 0.3125rem 0.3125rem 0;
    }
}

@media (min-width: 400px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        font-size: 125%;
        padding-right: 2rem;
        background-color: rgba(0, 0, 0, 0.774);
    }
}

@media (min-width: 600px) {
    .navbar {
        font-size: 145%;
    }
}

@media (min-width: 900px) {
    .navbar {
        gap: 2rem;
        padding-right: 3.5rem;
        font-size: 160%;
    }
}