.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    text-align: center;
    padding: 2rem 2rem;
    font-size: 6vw;
}

.excerpt {
    color: #808080;
}

@media (min-width: 400px) {
    .hero {
        justify-content: flex-start;
    }
    .heroContent {
        padding: 3rem 2rem 3rem 3rem;
        text-align: left;
        font-size: 150%;
    }
}

@media (min-width: 600px) {
    .heroContent {
        font-size: 200%;
        padding: 4rem 3rem;
    }
    .excerpt {
        max-width: 68vw;
        word-wrap: break-word;
        font-size: 80%;
    }
}

@media (min-width: 900px) {
    .heroContent {
        font-size: 250%;
    }
}