.padding-top-lg {
    padding: 5rem 0 0;
}

.padding-sm {
    padding: 2rem 0;
}

.footerStyles {
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    background-color: black;
}

.red-bottom-border {
    border-bottom: 1px solid rgba(255, 0, 0, 0.356);
}