.container {
    padding: 4rem 2rem;
    padding-top: 4rem;
    background-color: black;
    border-top: 1px solid rgba(255, 255, 255, 0.356);
}

.imageDiv {
    position: relative;
    height: 70vw;
}

.image {
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
}

.description {
    padding-top: 2rem;
    font-size: 90%;
}

@media (min-width: 400px) {
    .details {
        justify-content: center;
        align-items: center;
    }
    .imageDiv {
        height: 17.5rem;
        width: 21rem;
    }
}

@media (min-width: 801px) {
    .imageDiv {
        max-width: 20rem;
        max-height: 20rem;
        order: 2;
    }
    .details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5em;
        align-items: center;
        padding-left: 3rem;
    }
    .description {
        font-size: 130%;
        order: 1;
    }
}

@media (min-width: 850px) {
    .description {
        font-size: 140%;
    }
}